p{
    color:darkblue; 
    text-align:center; 
    font-family: didot; 
    font-size: 150%;
}
.color{
    color: darkred;
}
.font{
    font-size: 130%;
    font-family: didot;
    text-align: center;

}
#title{
    color: darkblue; 
    text-align:center; 
    font-family: didot;
}
.pad{
    border: 3px solid darkred; 
  padding: 5px;
}
ul{
    list-style: circle inside
}