p{
    color:darkblue; 
    text-align:center; 
    font-family: didot; 
    font-size: 150%;
}
.color{
    color: darkred;
}
.font{
    font-size: 130%;
    font-family: didot;
    text-align: center;

}
#title{
    color: darkblue; 
    text-align:center; 
    font-family: didot;
}
.pad{
    border: 3px solid darkred; 
  padding: 5px;
}
ul{
    list-style: circle inside
}
.position{
    text-align: right;
}
.email{
    font-family: didot;
    text-align: right;
}
.ins{
    font-family: didot;
    text-align: left;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
.max{
    max-width: 1450px;
    min-width: 1450px;
    margin: 0 auto;
    padding: 40px;
}